Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_SPEED.csv
Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_STATE.csv
Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_TELEMETRY_COMMUNICATION.csv
Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_SPEED.csv
Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_STATE.csv
Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_TELEMETRY_COMMUNICATION.csv
Base/EKOS - Telemetria e Armadilhas Eletrônicas/CSV/Layers/LAYER_MAP_SCHEDULE.csv
